@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

html, body{
    margin:0;
    padding:0;
    background-color:#ffffff;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
}

canvas{
    display:block;
    position:absolute;
    top:0;
    left:0;
}

.main-pane {
    position:fixed;
    display:absolute;
    height: 100vh;
    width:70%;
    z-index:9900;
    /* opacity:0.2; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    overflow-y: scroll;
    height:94vh;
}

.title {
    height:20vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.circular-square {
    border-radius: 50%;
    display:block;
    margin:auto;
    height: 20vh;
    width: 20vh;
}

#navigation {
    background-color: black;
    height: 6vh;
    position: relative;
}

#navigation div{
    padding-top: 1.75vh;
    text-align: center;
}

#navigation a {
    color: white;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
}
