@import "compass";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: 100%;
    background-position: center; 
}

.content{
	position: relative;
	margin-top: 70px;
}

#avatar{
	height: 200px; 
	width:200px;
	border: 3px solid #C4FFD2; 
	border-radius: 50%; 
}

.educodes{
    opacity: 1;
    filter: alpha(opacity=100); 
}

.educodes:hover{
    opacity: 0.9;
    filter: alpha(opacity=90); 
}

#name{
	color: #0B132B;
	font-family: "Lato";
	background-color: white;
	margin-top: 20px;
	width: 320px;
	height: 190px;
	border: 3px solid #C4FFD2; 
	border-radius: 5s%; 
}

#exp{
	color: #0B132B;
	font-family: "Lato";
	background-color: white;
	width: 60%;
	height: 100%;
	border: 3px solid #C4FFD2; 
	border-radius: 5s%; 
}

#background {
  position: fixed; 
  top: 0;   
  left: 0; 
  z-index: -1;
}

nav {
	position: fixed;
  z-index: 20;
  top: 0;
  margin: 0 auto; left:0px; right:0px;
    float:clear;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  
}

nav ul {
	list-style-type: none;
        padding: 0;
        overflow:hidden;
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%, rgba(255, 255, 255, 0.8) 0%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display:inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Pertrona";
  text-transform:uppercase;
  color: #0B132B;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.7);
  color: #0B132B;
}

.font{
	font-family: "Lato";
}

.squares{
  width: 580px;
  height: 150px;
}

.icons{
	list-style-image: url(2.gif);
	margin-left: 10px; 
	margin-right:10px; 
	text-align:left;
}

.icons2 {
  color:#fff; /*#3B476B*/
  margin-left: 20px; 
	margin-right:20px; 
  background-color: #0B132B;
  border-radius:4px;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  width:150px;
  height:150px;
  position: relative;
  display: inline-block;
}

.icons2:hover {
  background-color:#C4FFD2;
  color: black;
}

.icons2:nth-of-type(1):before {
content:'\f003';
}
.icons2:nth-of-type(2):before {
content:'\f08c';
}
.icons2:nth-of-type(3):before {
content:'\f092';
}
.icons:nth-of-type(4):before {
content:'\f16d';
}
