@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

html, body{
    margin:0;
    padding:0;
    background-color:#ffffff;
    position: relative;
    font-family: 'Montserrat', sans-serif !important;
    color: #FFF !important;
}

canvas{
    display:block;
    position:absolute;
    top:0;
    left:0;
}

.row {
    margin-bottom: 9vh !important;
}

.me {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.me img {
    width: 100%;
    height: auto;
}

.scrollbar
{
	height:94vh;
	/*background: #F5F5F5;*/
	margin-bottom: 25px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main-pane {
    position:fixed;
    display:absolute;
    height: 100vh;
    width:70%;
    z-index:9900;
    /* opacity:0.2; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.content {
    /* overflow-y: scroll; */

}

.title {
    height:20vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.circular-square {
    border-radius: 50%;
    display:block;
    margin:auto;
    height: 20vh;
    width: 20vh;
}

#navigation {
    background-color: black;
    height: 6vh;
    position: relative;
}

#navigation div{
    padding-top: 1.75vh;
    text-align: center;
}

#navigation a {
    color: white;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
}

/* the scrollbar area itself */
::-webkit-scrollbar {
    background:rgba(0,0,0,0.7)
}
/* the up/down/left/right buttons */
::-webkit-scrollbar-button {

}
/* the zone where the scroll will happen */
::-webkit-scrollbar-track {

}
/* not sure what this is */
::-webkit-scrollbar-track-piece {

}
/* the famous "elevator" */
::-webkit-scrollbar-thumb {

}
/* what stands in the corner, between the horizontal and the vertical scrollbars */
::-webkit-scrollbar-corner {

}
/* the resizer thingy into that corner */
::-webkit-resizer {

}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.7);
}
